$image-comparison-slider__image-container-max-width: 768px;

// colors
$image-comparison-slider__drag-button-color: #dc717d; // salmon
$image-comparison-slider__drag-button-active-color: #445b7c; // blue dark

// image label 
$image-comparison-slider__image-label-color: #ffffff; // white
$image-comparison-slider__image-label-font-family: 'Open Sans', sans-serif;
$image-comparison-slider__image-label-font-size: 16px;

// animations
$image-comparison-slider__bounce-in-duration: .7s;
