
/* -------------------------------- 

Primary style

-------------------------------- */

body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }
  color: $color-1;
  background-color: $color-1;
}

a {
  color: $color-2;
  text-decoration: none;
}

/* -------------------------------- 

Main components 

-------------------------------- */

header {
  position: relative;
  height: 160px;
  line-height: 160px;
  text-align: center;

  h1 {
    @include font-size(22px);
    color: $color-3;
    font-weight: 300;
    @include font-smoothing;
  }

  @include MQ(M) {
    height: 240px;
    line-height: 240px;

    h1 {
      @include font-size(32px);
    }
  }
}
