
/* -------------------------------- 

Primary style

-------------------------------- */
body {
  font: {
    size: 100%;
  }
  background-color: $image-comparison-slider__drag-button-active-color;
}


/* -------------------------------- 

Main components 

-------------------------------- */

header {
  position: relative;
  height: 160px;
  line-height: 160px;
  text-align: center;

  h1 {
    font-size: 22px;
    color: white;
    font-weight: 300;
    @include font-smoothing;
  }
}
