// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// bourbon mixins simplified
// prefixes chosen by canIuse.com on 2015 November
@mixin  transform($value) {
  -ms-transform: $value;
  -webkit-transform: $value;
  transform: $value; 
}

@mixin animation($animations) {
  -webkit-animation: $animations;
  animation: $animations;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}