// colors
$drag-button-color: #dc717d; // salmon
$drag-button-active-color: #445b7c; // blue dark
$image-label-color: #ffffff; // white

// fonts 

$primary-font: 'Open Sans', sans-serif;

// bounce-in duration

$bounce-in-duration: .7s;

$cd-image-container-max-width: 768px;